body{  
  background-color: #282c34;
  overflow: hidden;
}

.App {
  text-align: center;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, p{
  margin: 0 auto;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 100px;
}

.separator{
  border-left: 12px solid #FFF;
  height: 80px;
  margin: 0 auto; 
  padding: 0;
}

.countdown-timer{
  font-size: 300px;
}

.clock {
  font-size: 300px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

input[type="text"]{
  height: 50px;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

button{
  height: 50px;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.theme1 {
  background-color:rgb(156, 44, 44);
  animation: danger 1s linear infinite;
}

@keyframes danger {
  30% {background-color:rgb(0, 0, 0);}
}

.theme2 {
  background-color: rgb(255, 0, 0);
}

.theme3 {
  background-color:rgb(255, 71, 71);
}

.theme4 {
  background-color:rgb(100, 0, 0);
}